<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>Controller.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>Controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateController</servlet-name>
        <servlet-class>Controller.RateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalReg</servlet-name>
        <servlet-class>Hospital.HospitalReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>User.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientController</servlet-name>
        <servlet-class>Controller.PatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlBookmark</servlet-name>
        <servlet-class>Controller.controlBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeReview</servlet-name>
        <servlet-class>Controller.activeReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hospital</servlet-name>
        <servlet-class>Controller.HospitalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateController</servlet-name>
        <url-pattern>/RateController</url-pattern>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalReg</servlet-name>
        <url-pattern>/HospitalRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientController</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlBookmark</servlet-name>
        <url-pattern>/controlBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeReview</servlet-name>
        <url-pattern>/activeReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hospital</servlet-name>
        <url-pattern>/hospital</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
